<h1>This is the placeholder for index.html.erb</h1>
<% @posts.each do |post| %>
<div class="post_wrapper">
    <h2 class="title"><%= link_to post.title, post %></h2>
    <p class="date"><%= post.created_at.strftime("%B %d, %Y") %></p>
</div>
<% end %>
