<!DOCTYPE html>
<html>
<head>
  <title>Atussec</title>
    <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Raleway:400,700' %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

    <div id="sidebar">
        <div id="logo">
            <%= link_to root_path do %>
            <%= image_tag "logo.svg" %>
            <% end %>
        </div>

        <ul>
            <li class="category">Website</li>
            <li><%= link_to "Blog", root_path %></li>
            <li>About</li>
        </ul>

        <ul>
            <li class="category">Social</li>
            <li><a href="https://twitter.com/atussec">Twitter</a></li>
            <li><a href="http://instagram.com/atussec">Instagram</a></li>

            <li><a href="mailto:kanyi@gcubed.gm">Email</a></li>
        </ul>

        <p class="sign_in">Admin Login</p>
    </div>

    <div id="main_content">
        <div id="header">
            <p>All Posts</p>

            <div class="buttons">
                <button class="button"><%= link_to "New Post", new_post_path %></button>
                <button class="button">Log Out</button>
            </div>
        </div>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <% flash.each do |name, msg| %>
        <%= content_tag(:div, msg, class: "alert") %>
        <% end %>
<%= yield %>
    </div>
</body>
</html>
